/* Fonts */
@font-face {
font-family: Poppins-Regular;
src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
font-family: OpenSans-Bold;
src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
font-family: Poppins-ExtraBold;
src: url(../fonts/Poppins-ExtraBold.ttf);
}

/* Header */
body {
padding-top: 56px;
}

.navbar {
background-color: #48d669;
font-family: Poppins-Regular;
color: white;
font-weight: 900;
}

.navbar-brand {
font-family: OpenSans-Bold;
color: white;
}

.navbar-nav .nav-link {
color: white;
}

.navbar-nav .nav-link:hover {
color: #fde342;
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.icon{ 
    height: 100px;
  }

/* Contact */
.contactus{
    font-size: 36px;
}

.map {
width: 600px;
height: 400px;
}
           
@media only screen and (max-width: 600px) {
.map {
    width: 300px;
    height: 150px;
}
.icon{
    width: 30px;
    height: 30px;
}
}